@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 100vh;
}


h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  color: #c59d5f;
  margin-bottom: 2rem;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30rem;
}

.questionList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #102a4a;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}